<div class="hero section deep-purple lighten-3 valign-wrapper">
  <div class="container">
    <h1 class="center-align">Get Inspired to Take&nbsp;Action</h1>
    <p>The home of posts that inspire you to get up, try again and take action</p>

    <div class="btn-group center-align">
         <a class="waves-effect waves-deep-purple deep-purple white-text btn-flat" id="cta" href="/posts">View Posts</a>
    </div>
  </div>
</div>