{{#each posts}}
  <div class="container section">
    <h1>{{title}}</h1>
    <p>{{author}} || {{createdAt}}</p>
    <hr />
    <p>{{content}}</p>
    <a class="btn-floating pulse deep-purple lighter-3 "><i class="material-icons left">thumb_up</i>Like</a> Like Post 
  </div>
{{/each}}