<div class="container write">
  <h1>Create new post</h1>

  <form action="/posts/write">
    <div class="row">
      <div class="input-field col s12">
        <input id="title" type="text" class="validate" name="title" >
        <label for="title">Title</label>
      </div>

      <div class="col s12">
        <textarea name="content" id="content" class="validate" cols="40" rows="10" placeholder="Type your post here"></textarea>
      </div>
      
    </div>
  </form>
</div>